*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    display: inline-block;
    margin-right: 48px;
}

.logo, nav{ 
    display: inline-block;
    vertical-align: middle;
    padding-top: 70 px;
}



header{
    padding-left: 100px;
    padding-right: 111px;
    padding-top: 100px;
    
}

nav{
    margin-left: 800px;
}

li{
font-family: 'BPG Glaho';
font-size: 32px;
color: #99A1C6;
}

.active1{
    color: #6040AA;
    margin-left: 30px;
    margin-bottom: 10px;
}

.mtavari-photo{
    width: 100%;
    padding-top: 146px;
}

.h1{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 792px;
    color: #6040AA; 
    margin-bottom: 27px;
}


.p1{
    font-family: 'Arial GEO';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-left: 100px; 
    color: #2B366B;
}

.img2{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px ;
    margin-right: 20px;
}

.img3{
    margin-bottom: 100px;
    margin-left: 250px;
}

.img4{
    margin-bottom: 100px;
    margin-left: 250px;
}

.img5{
    width: 100%;

    
}


.p2{ 
font-family: 'Arial GEO';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 33px;
width: 610px;
height: 413px;
color: #2B366B;
margin-left: 100px;


}

.img10{ 
    position: absolute;
    width: 610px;
    height: 482px;
    left: 630px;
    top: 0px;
    margin-top: 1189px;
    margin-left: 500px;
    margin-right: 100px;
    margin-bottom: 222px;

}    




